{% extends 'accounts/base.html' %}

{% block content %}
{% include 'accounts/status.html'%}
<h1>User</h1>
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>product</th>
                    <th>Category</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Amount</th>
                </tr>
                {% for order in orders %}
                <tr>
                    {% for product in order.product.all %}
                        <td>{{product.name}}</td>
                        <td>{{product.category}}</td>
                        {% endfor %}
                          <td>{{order.created_at}}</td>
                        <td>{{order.status}}</td>
                        <td>{{order.total_amount}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>

{% endblock %}